flows.json
[{"id":"3abb0b69.859d74","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"a8820b9c.018528","type":"debug","z":"3abb0b69.859d74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":360,"wires":[]},{"id":"c21cf3fe.71835","type":"function","z":"3abb0b69.859d74","name":"pre-token","func":"global.set(\"rm\",msg.payload.rm)\nglobal.set(\"pm\",msg.payload.pm)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"cm\",msg.payload.cm)\nglobal.set(\"cnm\",msg.payload.cnm)\nglobal.set(\"cpm\",msg.payload.cpm)\nvar apikey=\"IFQfz4XBmmve2LnEftgNA1RvipkhlFEyffsoTsNP-acz\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":220,"wires":[["4b388644.015e28"]]},{"id":"4b388644.015e28","type":"http request","z":"3abb0b69.859d74","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":392.00000381469727,"y":264.00000286102295,"wires":[["798fb5e1.dd79fc","2011ea26.2d6f96"]]},{"id":"798fb5e1.dd79fc","type":"debug","z":"3abb0b69.859d74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":320,"wires":[]},{"id":"2011ea26.2d6f96","type":"function","z":"3abb0b69.859d74","name":"Pre Prediction","func":"var rm = global.get(\"rm\")\nvar pm = global.get(\"pm\")\nvar am = global.get(\"am\")\nvar cm = global.get(\"cm\")\nvar cnm = global.get(\"cnm\")\nvar cpm = global.get(\"cpm\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"id\",\"radius_mean\",\"texture_mean\",\"perimeter_mean\",\"area_mean\",\"smoothness_mean\",\"compactness_mean\",\"concavity_mean\",\"concave points_mean\",\"symmetry_mean\",\"fractal_dimension_mean\",\"radius_se\",\"texture_se\",\"perimeter_se\",\"area_se\",\"smoothness_se\",\"compactness_se\",\"concavity_se\",\"concave points_se\",\"symmetry_se\",\"fractal_dimension_se\",\"radius_worst\",\"texture_worst\",\"perimeter_worst\",\"area_worst\",\"smoothness_worst\",\"compactness_worst\",\"concavity_worst\",\"concave points_worst\",\"symmetry_worst\",\"fractal_dimension_worst\",\"Unnamed: 32\"],\"values\":[[null,17.99,null,122.8,1001,null,0.2776,0.3001,0.1471,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584.0000076293945,"y":216.0000021457672,"wires":[["11984a90.fadad5"]]},{"id":"11984a90.fadad5","type":"http request","z":"3abb0b69.859d74","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/117a0c45-bd7b-4d0e-ae88-e8af63778811/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":240,"wires":[["b5ca1508.d190d8","70c00f0b.2fc33"]]},{"id":"b5ca1508.d190d8","type":"debug","z":"3abb0b69.859d74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":962.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"d2627cec.8e806","type":"inject","z":"3abb0b69.859d74","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["c21cf3fe.71835"]]},{"id":"27f24881.8c32b8","type":"debug","z":"3abb0b69.859d74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":793.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"70c00f0b.2fc33","type":"function","z":"3abb0b69.859d74","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":639.6000595092773,"y":148.00000190734863,"wires":[["27f24881.8c32b8","d3e1bd09.d3c04"]]},{"id":"d3e1bd09.d3c04","type":"ui_text","z":"3abb0b69.859d74","group":"bc53ba92.f4a5a8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":757.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"f40a53c6.203ee","type":"ui_form","z":"3abb0b69.859d74","name":"","label":"","group":"12b916dd.c32369","order":1,"width":0,"height":0,"options":[{"label":"radius_mean","value":"rm","type":"number","required":true,"rows":null},{"label":"perimeter_mean","value":"pm","type":"number","required":true,"rows":null},{"label":"area_mean","value":"am","type":"number","required":true,"rows":null},{"label":"compactness_mean","value":"cm","type":"number","required":true,"rows":null},{"label":"concavity_mean","value":"cnm","type":"number","required":true,"rows":null},{"label":"concave points_mean","value":"cpm","type":"number","required":true,"rows":null}],"formValue":{"rm":"","pm":"","am":"","cm":"","cnm":"","cpm":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":93,"y":279.00000381469727,"wires":[["a8820b9c.018528","c21cf3fe.71835"]]},{"id":"bc53ba92.f4a5a8","type":"ui_group","z":"","name":"Default","tab":"9d6d7122.39874","order":2,"disp":true,"width":"6","collapse":false},{"id":"12b916dd.c32369","type":"ui_group","z":"","name":"Default","tab":"9d6d7122.39874","order":1,"disp":true,"width":"6","collapse":false},{"id":"9d6d7122.39874","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]